<header>
  <div class="container">
    <ul class="main-menu">
      <li>
        <a routerLink="/">Home</a>
        <a routerLink="/task-management">Task management</a>
      </li>
    </ul>
  </div>
</header>


<div class="container">
  <router-outlet></router-outlet>

</div>

<footer>
  <div class="container">
    <ul class="footer-menu">
      <li>
        <a routerLink="/">Home</a>
        <a routerLink="/task-management">Task management</a>
      </li>
    </ul>
    <p>All rights reserved &copy; {{year}}</p>
  </div>

</footer>
