<h1>Task manager</h1>

<p>This Task Manger template is an easy-to-use, flexible and centralised solution to manage and keep track of your
  daily, weekly and monthly tasks, with the ability to configure key information such as due dates, priority levels,
  status and estimated vs actual time spent. Simply edit and adapt to suit your needs.
<br>
<br>
  Use a Calendar Screen to view your organised tasks by due date, or a Board Screen to view your tasks by status, such
  as ‘Pending’, ‘In Progress’ and ‘Completed’. Even configure Workflows for real-time notifications, such as tasks to be
  completed in the next week.</p>
